.input_editor {
  border-radius: 5px;
  display: flex;
  width: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 5px;
  margin-top: -4px;
  overflow: scroll;
  overflow-y: auto;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
  transition: box-shadow 1s ease;
}

.input_editor:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_editor:focus {
  outline: 0;
}

/* .editor_input:active {
  background-color: rgb(224, 224, 224);
} */