.todo_modal {
  position: absolute;
  /* height: 60%; */
  width: 40%;
  top: 10vh;
  left: 30%;
  z-index: 2;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.title_close_div {
  display: flex;
}